In [8]:
import pandas as pd

def is_float_num(s):
    # use manual state diagram
    state = 'START'
    i = 0

    while i < len(s):
        c = s[i]
        if state == 'START':
            if c in '+=':
                state = 'SIGN'
            elif c.isdigit():
                state = 'INTEGER'
            elif c == '.':
                state = 'DOT'
        elif state == "SIGN":
            if c.isdigit():
                state = 'INTEGER'
            elif c == '.':
                state = 'DOT'
            else:
                return False
        elif state == 'INTEGER':
            if c.isdigit():
                state = 'INTEGER'
            elif c == '.':
                state = 'DOT'
            elif c in 'eE':
                state = 'EXP'
            else:
                return False
        elif state == 'DOT':
            if c.isdigit():
                state = 'FRAC'
            elif c in 'eE':
                state = 'EXP'
            else:
                return False
        elif state == 'FRAC':
            if c.isdigit():
                state = 'FRAC'
            elif c in 'eE':
                state = 'EXP'
            else:
                return False
        elif state == 'EXP':
            if c in '+-':
                state = 'EXP_SIGN'
            elif c.isdigit():
                state = 'EXP_NUM'
            else:
                return False
        elif state == 'EXP_SIGN':
            if c.isdigit():
                state = 'EXP_NUM'
            else:
                return False
        elif state == 'EXP_NUM':
            if c.isdigit():
                state = 'EXP_NUM'
            else:
                return False
        
        i += 1
    if state in ['INTEGER', 'FRAC', 'EXP_NUM','DOT']:
        return True
    return False

float_numbers = ["3.14", "-0.001", "+2.5e10", "6.022E23", "0.", ".5", "1e-3", "123", "abc", "1.2.3", "1e", "++3.14", "3.14e+", ""]
expected_results = [True, True, True, True, True, True, True, True, False, False, False, False, False, False]
    
df = pd.DataFrame({"Float Numbers": float_numbers, "Expected": expected_results})

df['Result'] = df['Float Numbers'].apply(is_float_num)
df['Match'] = df['Expected'] == df['Result']
df

   Float Numbers  Expected  Result  Match
0           3.14      True    True   True
1         -0.001      True    True   True
2        +2.5e10      True    True   True
3       6.022E23      True    True   True
4             0.      True    True   True
5             .5      True    True   True
6           1e-3      True    True   True
7            123      True    True   True
8            abc     False   False   True
9          1.2.3     False   False   True
10            1e     False   False   True
11        ++3.14     False   False   True
12        3.14e+     False   False   True
13                   False   False   True